<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- <meta property="og:title" content="Lol" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.omgames.me/" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Omgames" />
    <meta property="og:description" content="" /> -->
    <link rel="shortcut icon" href="/ico/favicon.ico" />

    <title>Happy birthday kawtar</title>

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">🎂</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">HOME</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
    <canvas id="confetti-canvas"></canvas>
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h1 id="birth">Birthday is loading...</h1>
            <div id="clockdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- headerwrap -->

    <div id="r" style="display: none;">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h4>Dear Kawtar</h4>
            <p>
              Well I had many plans for your birthday but all of them got ruined
              because of the corona Shit so I felt like the least I could do is
              make you a litle something with the thing i do the best I guess
              which is coding ... <br />I wish you a Happy Birthday I hope you
              enjoy it with your familly and I wish you a long and successful and happy life. <br />P.S.: You owe me a bottle of malibu <br />P.P.S.:please
              have as much fun as you can ❤️
            </p>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>

    <!-- FOOTER -->
    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="#">Made with love by Moe Erradi</a>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/confetti2.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
